<table>
    <thead>
        <th>Usuarios Mayores</th>
        <th>Usuarios menores</th>
    </thead>
    <tbody>
        <tr> <td> {{srvUsu.cuantosUsuariosMayores()}} </td> 
            <td> {{srvUsu.cuantosUsuariosMenores()}} </td> 
        </tr>
    </tbody>
</table>
