﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Practica Weather Forecast</h1>
    <a href="./ejemploWeaFor_AJAX.html">Cliente AJAX Weather Forecast</a>
    <a href="./index_angular.html">Cliente AJAX Weather Forecast</a>

    <h1 class="display-4">Practica Usuarios</h1>
    <a href="./VISTA.HTML">Cliente AJAX Usuarios</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
