
.btn-borrar{
    margin-top: 20px;
    transform: scale(2);
}
body{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(252,252,252);
}
header{
    background-position-x: center; 
}
.tabla {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 15%;
    margin-left: 12%;
    background-position-x: center;
    border: 2px solid;
    /* padding-left: 1000px; */
    background-color: rgb(211,211,211);
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    border-color: rgb(169,169,169);
    
}
.tabla th {
    /* border: 2px solid; */
    background-color: rgb(169,169,169);
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 8px;
    color: black;
    border-color: rgb(180,180,180);
}
.badge{
    width: 80px;
}

.tabla td {
    /*border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 8px;
    border-color: rgb(10, 16, 34);
}
/* .tabla tr {
    border: 1px solid;
    /*padding-left: 10px;
    padding-right: 10px;*/
    /* border-color: rgb(172, 177, 197);
} */ 

.tabla tr:nth-child(even){
    background-color: rgb(179,179,179);
}

.fa-check,
.fa-minus {
    color: blue
}


.table tbody td .active,
.table tbody td .waiting {
    background-color: #B9F6CA;
    color: #388E3C;
    font-weight: 600;
    padding: 1px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
}

.table tbody td .waiting {
    background-color: #FFECB3;
    color: #FFA000
}

.table tbody td .active .circle,
.table tbody td .waiting .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #388E3C
}

.table tbody td .waiting .circle {
    background-color: #FFA000
}

.table tbody td .fa-times {
    color: #D32F2F;
    font-size: 0.9rem
}

.activo {
        padding: 100px;
        left: 9px;
        top: 5px;
        width: 20px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
      

}
.btn-eliminar{
    background-color: darkgrey;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.btn-borrar{
    float:right;
    top: 1000px;
    background-color: grey;
    color: white;
}

.btn-anadir{
    display: inline-block;
    background-color: rgb(174, 192, 187);
    color: black;
    margin-top: 15px;
    transform: scale(1.5);
    padding-left: 10px;
}

.btn-extra{
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-edit{
    background-color: white;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.botones{
    padding: 10px;
    position: relative;
    margin: 10px;
}
.ver {
    display: block;
}
.no_ver {
    display: none;
}



* {
    margin: 0px;    /* Margen exterior */
    padding: 10px;   /* Relleno, o margen interior */

}
#brand-logo {
    font-size: 34px
}

#app-navbar {
    background: linear-gradient(120deg, #ffffff, #2b54be)
}

.btn-borrar{
    margin-top: 20px;
    transform: scale(2);
}
body{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(252,252,252);
}
header{
    background-position-x: center; 
}
.tabla {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 15%;
    margin-left: 12%;
    background-position-x: center;
    border: 2px solid;
    /* padding-left: 1000px; */
    background-color: rgb(211,211,211);
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    border-color: rgb(169,169,169);
    
}
.tabla th {
    /* border: 2px solid; */
    background-color: rgb(169,169,169);
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 8px;
    color: black;
    border-color: rgb(180,180,180);
}
.tabla td {
    /*border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 8px;
    border-color: rgb(10, 16, 34);
}
/* .tabla tr {
    border: 1px solid;
    /*padding-left: 10px;
    padding-right: 10px;*/
    /* border-color: rgb(172, 177, 197);
} */ 

.tabla tr:nth-child(even){
    background-color: rgb(179,179,179);
}

.activo {
        padding: 100px;
        left: 9px;
        top: 5px;
        width: 20px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
      

}
.btn-eliminar{
    background-color: darkgrey;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.btn-borrar{
    float:right;
    top: 1000px;
    background-color: grey;
    color: white;
}

.btn-anadir{
    display: inline-block;
    background-color: rgb(174, 192, 187);
    color: black;
    margin-top: 15px;
    transform: scale(1.5);
    padding-left: 10px;
}


.btn-edit{
    background-color: white;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.botones{
    padding: 10px;
    position: relative;
    margin: 10px;
}
.ver {
    display: block;
}
.no_ver {
    display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    min-height: 100vh
}

body::-webkit-scrollbar {
    display: none
}

.wrapper {
    max-width: 800px;
    margin: 80px auto;
    padding: 30px 45px;
    box-shadow: 5px 25px 35px #3535356b
}

.wrapper label {
    display: block;
    padding-bottom: 0.2rem
}

.wrapper .form .row {
    padding: 0.6rem 0
}

.wrapper .form .row .form-control {
    box-shadow: none
}

.wrapper .form .option {
    position: relative;
    padding-left: 20px;
    cursor: pointer
}

.wrapper .form .option input {
    opacity: 0
}

.wrapper .form .checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #bbb;
    border-radius: 50%
}

.wrapper .form .option input:checked~.checkmark:after {
    display: block
}

.wrapper .form .option:hover .checkmark {
    background: #f3f3f3
}

.wrapper .form .option .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: linear-gradient(45deg, #ce1e53, #8f00c7);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.wrapper .form .option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s
}

.wrapper .form .option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

#sub {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #333
}

#sub:focus {
    outline: none
}

@media(max-width: 768.5px) {
    .wrapper {
        margin: 30px
    }

    .wrapper .form .row {
        padding: 0
    }
}

@media(max-width: 400px) {
    .wrapper {
        padding: 25px;
        margin: 20px
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #6200EA
}

i {
    font-style: italic
}

.container {
    margin-top: 100px;
    margin-bottom: 100px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.widget-subheading {
    color: #858a8e;
    font-size: 10px
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s
}

.bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content .widget-content-right {
    margin-left: auto
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important
}

.card-footer {
    background-color: #fff
}

.over-container{
        /* width: 100%; */
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        /* margin-right: auto; */
        margin-left: auto;
        font-size: large;
        font-weight: 500;
}


