* {
    margin: 0px;    /* Margen exterior */
    padding: 10px;   /* Relleno, o margen interior */

}
.btn-borrar{
    margin-top: 20px;
    transform: scale(2);
}
body{
    background-color: rgb(186, 234, 253);
}
header{
    background-position-x: center; 
}
.tabla {
    background-position-x: center;
    border: 2px solid;
    padding-left: 100px;
    background-color: rgb(140, 182, 245);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-color: rgb(36, 71, 231);
    
}
.tabla th {
    border: 2px solid;
    background-color: rgb(65, 107, 245);
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 8px;
    color: white;
    border-color: rgb(57, 91, 240);
}
.tabla td {
    border: 1px solid;
    /*padding-left: 10px;
    padding-right: 10px;*/
    padding: 8px;
    border-color: rgb(10, 16, 34);
}
.tabla tr {
    border: 1px solid;
    /*padding-left: 10px;
    padding-right: 10px;*/
    border-color: rgb(117, 140, 241);
}
.tabla tr:nth-child(even){background-color: rgb(100, 146, 245);}
.activo {
        padding: 100px;
        left: 9px;
        top: 5px;
        width: 20px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
      

}
.btn-eliminar{
    background-color: tomato;
    display: inline-block;
    color: white;
    padding-left: 10px;
}

.btn-borrar{
    
    float:right;
    top: 1000px;
    background-color: tomato;
    color: white;
}

.btn-anadir{
    display: inline-block;
    background-color: rgb(154, 233, 134);
    color: white;
    margin-top: 15px;
    transform: scale(1.5);
    padding-left: 10px;
}

.btn-extra{
    display: inline-block;
    text-align: center;
    border: gray;
    background-color: steelblue;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: none;
    margin-top: 15px;
    margin-left: 35px;
    transform: scale(1.5);
}

.botones{
    padding: 10px;
    position: relative;
    margin: 10px;
}
.ver {
    display: block;
}
.no_ver {
    display: none;
}
