<table>
    <thead>
        <th>Usuarios Activos</th>
        <th>Usuarios Inactivos</th>
    </thead>
    <tbody>
        <tr> <td> {{srvUsu.cuantosUsuariosActivos()}} </td>
        <td> {{srvUsu.cuantosUsuariosInactivos()}} </td> </tr>
    </tbody>
</table>
